<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bhiksha.cartographer-shadow</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__REPO_ROOT__/scripts/launchd/run_cartographer_shadow.sh</string>
    <string>__REPO_ROOT__</string>
    <string>__RECOMMENDATION_ROOT__</string>
    <string>__DATA_ROOT__</string>
    <string>__OUTPUT_ROOT__</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>40</integer></dict>
    <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>40</integer></dict>
    <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>40</integer></dict>
    <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>40</integer></dict>
    <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>40</integer></dict>
  </array>
  <key>ProcessType</key><string>Background</string>
  <key>LowPriorityIO</key><true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CARTOGRAPHER_REPO_ROOT</key><string>__CARTOGRAPHER_ROOT__</string>
    <key>BHIKSHA_CARTOGRAPHER_SHEET_ID</key><string>__SHEET_ID__</string>
    <key>BHIKSHA_CARTOGRAPHER_SHEET_CREDENTIALS</key><string>__SHEET_CREDENTIALS__</string>
    <key>BHIKSHA_CARTOGRAPHER_PREMIUM_CEILING</key><string>__PREMIUM_CEILING__</string>
  </dict>
  <key>StandardOutPath</key><string>__LOG_ROOT__/cartographer-shadow.stdout.log</string>
  <key>StandardErrorPath</key><string>__LOG_ROOT__/cartographer-shadow.stderr.log</string>
</dict>
</plist>
